{
    "presets": [
        "next/babel",
        "@babel/preset-env",
        "@babel/react",
        "@babel/preset-typescript"
    ],
    "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-proposal-do-expressions"
    ]
}